*{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(80, 96, 101);
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  list-style: none;
}